.contNav {
  width: 1440px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 25px;
  border: 2px solid;
  border-radius: 4px;
  background-color: aqua;
}
