.contContact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  background-color: white;
}

.iconUser {
  margin-right: 5px;
}

.iconPhone {
  margin-right: 5px;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  background-color: gainsboro;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  padding: 12px;
}

.btnModal {
  display: block;
  font-size: 20px;
  padding: 3px 10px;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}

.btnModal:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7);
}
